@use "variables" as *;

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

body {
    background-color: $iceBlue;
}

.button {
    font-family: $headingFont;
    font-size: $baseFont;
    font-style: italic;
    color: $iceBlue;
    background-color: $twilightBlue;
    padding: 20px;

}

input,
textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}