@use "variables" as *;

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

body {
    background-color: $iceBlue;
}

.button {
    font-family: $headingFont;
    font-size: $baseFont;
    font-style: italic;
    color: $iceBlue;
    background-color: $twilightBlue;
    padding: 20px;
    cursor: pointer;
    margin-top: 10px;

    &:hover {
        transform: scale(0.9)
    }

    &:focus {
        transform: scale(0.9)
    }

}

input,
textarea {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

input {
    border-style: none;
    border-bottom: 2px solid $greenCyan;
    transition: 0.3s;
    font-family: inherit;


    &:focus {
        outline: none;
        border: 2px solid $greenCyan;

    }

}

textarea {
    resize: none;
    border: 2px solid $greenCyan;
    border-radius: 0%;
    transition: 0.3s;
    font-family: inherit;

    &:focus {
        outline: none;
        border: 2px solid $greenCyan;

    }
}

.hidden {
    visibility: hidden;
}

.menuButton {
    background-color: transparent;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
    color: $iceBlue;
    border: 2px white solid;
    border-radius: 25%;
    transition: 0.3s;

    &:hover {

        border-radius: 0;
        transition: 0.3s;
    }

    &:focus {

        border-radius: 0;
        transition: 0.3s;
    }

}

.mainImage {
    transform: scale(1.2);
    border: 2px solid $twilightBlue;
    
}