@use "variables" as *;

.blogBackgroundTop {
    background-image: url(../assets/blog-image-1.jpg);
    background-size: auto;
    margin-bottom: 180px;
}

.blogHeader {
    padding: 10rem 0;


    .blogH2 {
        font-size: calc(4 * $baseFont);
        font-family: $bodyFont;
        font-weight: bold;
        line-height: 58px;
        letter-spacing: 9px;
        color: $iceBlue;
    }
}