.commentSection {
    li {

        width: 60%;
        display: flex;
        flex-direction: row;
        // flex-wrap: wrap;
        align-items: space-between;


        .commentImageContainer {
            width: 30%;
            margin-right: 30px;

            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }


    }

}