@use "variables" as *;

.homeGallery {
    background-color: $lightLightBlue;
    margin-top: 80px;
    padding: 100px 0;

    .galleryContainer {
        display: flex;
        justify-content: space-between;

        .galleryImageContainer {
            flex-basis: 31%;

            @media (max-width:$mobileWidth) {

                flex-direction: column;
                flex-wrap: wrap;
                width: 75%;

            }

            img {
                width: 100%;
                display: block;
                height: auto;
            }
        }
    }
}