@use "variables" as *;

.homeBackgroundTop {


    header {
        background-image: url(../assets/home-image-1.jpg);
        background-size: cover;
        margin-bottom: 180px;
        background-repeat: no-repeat;
        min-height: 100vh;
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;


        .headerBoxImage {
            min-width: 40%;
            position: relative;
            top: 10rem;

            @media (max-width:$mobileWidth) {
                display: none;

            }


            img {
                width: 100%;
                display: block;
                height: auto;
                max-width: 900px;


            }
        }

        h1 {
            display: flex;
            flex-direction: column;
            font-family: $headingFont;
            font-size: calc(5.8 * $baseFont);
            font-weight: 900;
            font-style: italic;
            color: $twilightBlue;
            z-index: 10;



            @media (max-width:$mobileWidth) {
                font-size: calc(2.5 * $baseFont);
                text-align: center;
                align-items: center;
                top: 14rem;
                left: 3%;

            }


            .h1Span {
                font-family: $bodyFont;
                color: $spruce;
                font-size: calc(2.2 * $baseFont);
                display: inline-block;
                font-weight: bold;
                line-height: 2rem;
                letter-spacing: 6.7px;
                font-style: normal;

                @media (max-width:$mobileWidth) {
                    font-size: calc(2 * $baseFont);
                    text-align: center;

                }
            }
        }
    }
}