@use "variables" as *;

.linksToPagesSection {
    padding: 70px 0;
    margin-bottom: 70px;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @media (max-width:$mobileWidth) {
            flex-direction: column;
        }

        li {
            width: 45%;

            @media (max-width:$mobileWidth) {
                width: 100%;
                align-items: center;
            }

            h3 {
                margin-bottom: 10px;
            }

            a {

                display: flex;
                align-items: flex-start;
                padding: 10px 10px;
                transition: 0.3s;
                border-radius: 5%;
                text-align: center;

                @media (max-width:$mobileWidth) {
                    flex-direction: column;
                }

                &:hover {
                    background-color: $lightLightBlue;
                    cursor: pointer;
                }

                &:focus {
                    background-color: $lightLightBlue;
                    cursor: pointer;
                }

                i {
                    margin-right: 20px;
                    padding: 15px;
                    color: $iceBlue;
                    background-color: $greenCyan;
                    padding: 15px;
                    border-radius: 50%;

                    @media (max-width:$mobileWidth) {
                        align-self: center;
                    }




                }
            }


        }
    }
}