@use "variables" as *;

.newsAndPlanning {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: $lightLightBlue;

    .newsImages {
        width: 42%;

        @media (max-width:$mobileWidth) {
            width: 100%;
            align-items: center;
            margin-bottom: 20px;
        }
    }

    .image1 {
        position: relative;
        top: -60px;
        box-shadow: 20px 20px $greenCyan;

        @media (max-width:$mobileWidth) {
            order: 1;
            bottom: 0;
            box-shadow: none;
        }
    }

    .image2 {
        position: relative;
        top: 50px;
        box-shadow: -20px 20px $greenCyan;

        @media (max-width:$mobileWidth) {
            order: 3;
            top: 0;
            box-shadow: none;
        }
    }


    .newsContentBox {
        width: 42%;

        @media (max-width:$mobileWidth) {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .box1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 5% 5% 5% 0%;

        @media (max-width:$mobileWidth) {
            width: 100%;
            text-align: center;
            align-items: center;
            padding: 0;
            order: 2;
        }
    }

    .box2 {
        display: flex;
        flex-direction: column;
        padding: 5% 0 5% 5%;
        align-items: flex-end;

        @media (max-width:$mobileWidth) {
            width: 100%;
            text-align: center;
            align-items: center;
            padding: 0;
            order: 4;
        }

        p {
            text-align: right;

            @media (max-width:$mobileWidth) {
                text-align: center;
                align-self: center;

            }
        }

    }


}

img {
    width: 100%;
    height: auto;
    display: block;
}