@use "variables" as *;

.promotion {
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;

    .promotionImageBox {
        max-width: 100%;

        @media (max-width:$mobileWidth) {
            min-height: 50vh;
            max-width: 100%;
        }

        .promotionImage {
            object-fit: fill;

        }
    }

    .promotionContentBox {
        padding: 10% 10%;
        display: flex;
        flex-direction: column;
        align-items: center;

        h4 {
            text-align: center;
            align-self: center;
            padding: 0;
        }



        p {
            text-align: center;
        }
    }
}