@use "variables" as *;

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Light.ttf);
    font-weight: light;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-LightItalic.ttf);
    font-weight: light;
    font-style: italic;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Thin.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-ThinItalic.ttf);
    font-weight: lighter;
    font-style: italic;
}

// LATO FONTS ENDS

@font-face {
    font-family: "PlayfairDisplaySC";
    src: url(../fonts/PlayfairDisplaySC-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "PlayfairDisplaySC";
    src: url(../fonts/PlayfairDisplaySC-BlackItalic.ttf);
    font-weight: 900;
    font-style: italic;
}

// PlayfairDisplaySC font ends

html {
    font-size: 125%;
}

ul,
li,
a,
input {
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;

}

h1,
h2,
h3,
h4,
h5,
h6,
blockquote {
    font-family: $headingFont;
    font-weight: normal;
    margin: 0;
}

.logo {
    margin: 0;
    font-family: $headingFont;
    color: $greenCyan;
    font-style: italic;
    font-size: calc(1.4 * $baseFont);
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: 0.3s;
}

h2 {
    font-size: calc(2 * $baseFont);
    font-family: $bodyFont;
    font-weight: bold;
    line-height: 1.5rem;
    letter-spacing: 6.7px;
    color: $spruce;

}

h3 {
    font-size: calc(2 * $baseFont);
    font-family: $bodyFont;
    font-weight: bold;
    color: $spruce;
    letter-spacing: 3.8px;
    line-height: 2rem;
}

p {
    font-size: $baseFont;
    font-family: $bodyFont;
    line-height: 32px;
    letter-spacing: 2px;
}

h4 {
    font-family: $bodyFont;
    font-weight: bold;
    font-size: calc(1.75 * $baseFont);
    letter-spacing: 3.8px;
    color: $twilightBlue;
}

h5 {
    font-family: $bodyFont;
    font-weight: bold;
    font-size: calc(1.1 * $baseFont);
    letter-spacing: 2px;
    color: $twilightBlue;
}

h6 {
    font-family: $bodyFont;
    font-weight: lighter;
    font-size: $baseFont;
    color: $iceBlue;
}

form,
input,
textarea {
    font-family: $bodyFont;
    font-size: $baseFont;
}

.asideLink {
    font-family: $bodyFont;
    color: $black;
    font-size: $baseFont;

}