@use "variables" as *;

.visitSection {
    display: flex;
    padding: 30px 0;
    padding-bottom: 50px;
    justify-content: space-between;


    @media (max-width:$mobileWidth) {
        flex-wrap: wrap-reverse;
        text-align: center;
        flex-direction: column-reverse;
    }


    .visitContentBox {
        width: 60%;
        display: flex;
        flex-direction: column;

        @media (max-width:$mobileWidth) {

            width: 100%;
            margin-bottom: 5%;
        }

        .button {
            align-self: flex-start;

            @media (max-width:$mobileWidth) {

                align-self: center;
            }
        }

    }



    .visitImageBox {
        width: 28%;
        height: fit-content;
        margin-left: 5%;


        @media (max-width:$mobileWidth) {
            box-shadow: none;
            border: 5px solid $greenCyan;
            margin: 0 auto;
            margin-bottom: 5%;
            width: 80%;
        }

        img {
            width: 100%;
            display: block;
            height: auto;
            max-width: 275px;
            box-shadow: -20px 20px $greenCyan;

            @media (max-width:$mobileWidth) {
                box-shadow: none;
                max-width: 100%;
            }
        }
    }




}