html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Regular.ttf);
  font-weight: normal;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Italic.ttf);
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Bold.ttf);
  font-weight: bold;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-BoldItalic.ttf);
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Light.ttf);
  font-weight: light;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-LightItalic.ttf);
  font-weight: light;
  font-style: italic;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-Thin.ttf);
  font-weight: lighter;
}
@font-face {
  font-family: "Lato";
  src: url(../fonts/Lato-ThinItalic.ttf);
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: "PlayfairDisplaySC";
  src: url(../fonts/PlayfairDisplaySC-Black.ttf);
  font-weight: 900;
}
@font-face {
  font-family: "PlayfairDisplaySC";
  src: url(../fonts/PlayfairDisplaySC-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
}
html {
  font-size: 125%;
}

ul,
li,
a,
input {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
blockquote {
  font-family: "PlayfairDisplaySC";
  font-weight: normal;
  margin: 0;
}

h4 {
  margin: 0;
  font-family: "PlayfairDisplaySC";
  color: #50e3c2;
  font-style: italic;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

body {
  background-color: #FAffFE;
}

.navContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  color: #50e3c2;
}
.navContainer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navContainer ul li {
  margin-right: 15px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-family: "Lato";
  font-weight: bold;
  color: #FAffFE;
  transition: 0.3s;
  font-size: 20px;
}
.navContainer ul li:hover {
  color: #50e3c2;
}
.navContainer ul li:focus {
  color: #50e3c2;
}

.homeBackgroundTop {
  background-image: url(../assets/home-image-1.jpg);
  background-size: auto;
  margin-bottom: 180px;
}
.homeBackgroundTop header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0;
}
.homeBackgroundTop header .headerBoxImage {
  width: 40%;
  position: relative;
  top: 90px;
}
.homeBackgroundTop header .headerBoxImage img {
  width: 100%;
  display: block;
}
.homeBackgroundTop header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "PlayfairDisplaySC";
  font-size: 5.8rem;
  font-weight: 900;
  font-style: italic;
  color: #063974;
  z-index: 10;
  position: relative;
  top: 10rem;
  right: 6.5%;
}
.homeBackgroundTop header h1 .h1Span {
  font-family: "Lato";
  color: #0c5f4c;
  font-size: 2.2rem;
  display: inline-block;
  font-weight: bold;
  line-height: 2rem;
  letter-spacing: 6.7px;
  font-style: normal;
}

.homeBackgroundTop {
  background-image: url(../assets/home-image-1.jpg);
  background-size: cover;
}